*.class

# Package Files #
*.jar
*.war
*.ear
target/
.settings/
.classpath
.project
log/
/facelog-service/dump.rdb
*.~vdx
*.log
*.iml
.idea/
/dump.rdb
/facelog-service/src/codegen/java/net/gdface/facelog/decorator/mini
