## 设备命令定义
#set($commands =  {
      'parameter' : {'desc':'设置参数,可用于运行时修改参数',
                  'return':'void',
                  'params':{'key':['String','参数名'],'value':['String','参数值']}},
      'config'  : {'desc':'设置一组参数,可用于需要重启有效的参数',
                  'return':'void',
                  'params':{'properties':['Map<String,String>','参数配置对象, {@code 参数名(key)->参数值(value)映射}']}},
      'status'  : {'desc':'读取设备状态参数',    
                  'return':'Object',
                  'returnDesc':'{@code name}指定设备状态参数值',
                  'params':{'name':['String','需要报告状态的参数名']}},
      'report'  : {'desc':'设备状态报告,返回一组状态参数',    
                  'return':'Map<String,Object>',   
                  'returnDesc':'设备状态参数对象,{@code 参数名(key)->参数值(value)映射},key与{@code names}对应',  
                  'params':{'names':['List<String>','需要报告状态的参数名列表']}},
      'enable'  : {'desc':'设置设备工作状态',    
                  'return':'void',
                  'params':{'enable':['Boolean','{@code true}:工作状态,否则为非工作状态']}},
      'isEnable'  : {'desc':'返回设备工作状态',
                  'return':'Boolean',
                  'returnDesc':'为{@code true}:工作状态,{@code false}:非工作状态',
                  'params':{'message':['String','工作状态附加消息,比如"设备维修,禁止通行"']}},
      'reset'  : {'desc':'设备重启',    
                  'return':'void',
                  'params':{}},
      'time'  : {'desc':'设备与服务器时间同步',
                  'return':'void',
                  'params':{'unixTimestamp':['Long','服务器 unix 时间(秒),参见<a href = "https://en.wikipedia.org/wiki/Unix_time">Unix time</a>']}},
      'update' : {'desc':'更新版本',    
                  'return':'void',
                  'params':{'url':['URL','更新版本的位置'],
                            'version':['String','版本号']}},
      'message': {'desc':'发送消息',    
                  'return':'void',
                  'params':{'message':['String','发送到设备的消息']}},
      'custom' : {'desc':'自定义命令,命令名及命令参数由项目自定义',  
                  'return':'Object', 
                  'returnDesc':'返回自定义结果对象',
                  'params':{'cmdName':['String','自定义命令名称'],'parameters':['Map<String,Object>','自定义参数表']}}
                  })