## 设备命令定义
#set($commands =  {
      'parameter' : {'desc':'设置参数,可用于运行时修改参数',
                  'return':'void',
                  'params':{'key':['String','参数名'],'value':['String','参数值']}},
      'config'  : {'desc':'设置一组参数,可用于需要重启有效的参数',
                  'return':'void',
                  'params':{'properties':['Map<String,String>','参数配置对象, {@code 参数名(key)->参数值(value)映射}']}},
      'status'  : {'desc':'读取设备状态参数',
                  'return':'Object',
                  'returnDesc':'{@code name}指定设备状态参数值',
                  'params':{'name':['String','需要报告状态的参数名']}},
      'report'  : {'desc':'设备状态报告,返回一组状态参数',    
                  'return':'Map<String,Object>',   
                  'returnDesc':'设备状态参数对象,{@code 参数名(key)->参数值(value)映射},key与{@code names}对应',  
                  'params':{'names':['List<String>','需要报告状态的参数名列表']}},
      'version'  : {'desc':'获取设备版本号',
                  'return':'String',
                  'returnDesc':'返回设备版本描述',
                  'params':{}},
      'enable'  : {'desc':'设置设备工作状态',    
                  'return':'void',
                  'params':{'enable':['Boolean','{@code true}:工作状态,否则为非工作状态'],'message':['String','工作状态附加消息,比如"设备维修,禁止通行"']}},
      'isEnable'  : {'desc':'返回设备工作状态',
                  'return':'Boolean',
                  'returnDesc':'为{@code true}:工作状态,{@code false}:非工作状态',
                  'params':{}},
      'reset'  : {'desc':'设备重启',    
                  'return':'void',
                  'params':{'schedule':['Long','指定执行时间(unix time[秒]),为{@code null}立即执行']}},
      'time'  : {'desc':'设备与服务器时间同步',
                  'return':'void',
                  'params':{'unixTimestamp':['Long','服务器 unix 时间[秒],参见<a href = "https://en.wikipedia.org/wiki/Unix_time">Unix time</a>']}},
      'update' : {'desc':'更新版本',    
                  'return':'void',
                  'params':{'url':['URL','更新版本的位置'],
                            'version':['String','版本号'],
                            'schedule':['Long','指定执行时间(unix time[秒]),为{@code null}立即执行']}},
      'idleMessage': {'desc':'设置空闲时显示的消息',
                  'return':'void',
                  'params':{'message':['String','发送到设备的消息'],
                            'duration':['Long','持续时间[分钟],为{@code null}一直显示']
                           }},
      'personMessage': {'desc':'为指定人员通过时显示的临时消息',
                  'return':'void',
                  'params':{'message':['String','发送到设备的消息'],
                            'id':['Integer','人员/人员组ID'],
                            'group':['Boolean','为{@code true}时{@code id}参数为人员组ID'],
                            'onceOnly':['Boolean','为{@code true}时只显示一次'],
                            'duration':['Long','持续时间[分钟],为{@code null}一直显示']
                           }},
      'custom' : {'desc':'自定义命令,命令名及命令参数类型由应用项目自定义,因为Map中没有定义每一个自定义命令参数的类型,设备端需要自行将命令参数转为项目约定的参数类型,参见{@link Cmd#cast(Object,Type)}',
                  'return':'Object', 
                  'returnDesc':'返回自定义结果对象',
                  'params':{'cmdName':['String','自定义命令名称'],'parameters':['Map<String,Object>','自定义参数表']}}
                  })