#parse( "header.include.vm" )
#parse( "macros.include.vm" )
#parse( "commands.definition.vm" )
## 只在thrift_client时生成
#if(!$codewriter.getPropertyExplodedAsList("template.folder.include").contains("thrift_client"))
#set($codewriter.saveCurrentFile = false)
#stop
#end
#set ( $javaClassName = 'CmdManager' )
$codewriter.setCurrentJavaFilename($extensionPkg, "${javaClassName}.java")
package $extensionPkg;

import java.net.URL;
import java.util.List;
import java.util.Map;

import static com.google.common.base.Preconditions.checkNotNull;
import static com.google.common.base.Preconditions.checkArgument;

import com.google.common.collect.ImmutableMap;
import com.google.common.primitives.Ints;

import gu.simplemq.Channel;
import gu.simplemq.redis.JedisPoolLazy;
import gu.simplemq.redis.RedisFactory;
import net.gdface.facelog.client.thrift.RedisParam;
import net.gdface.facelog.client.thrift.Token;

import gu.simplemq.redis.RedisPublisher;
import gu.simplemq.redis.RedisSubscriber;

/**
 * 
 * client 端 redis管理模块<br>
 * 发送设备命令示例:
 * <pre>
 *    String ackChannel = iFaceLogClient.applyAckChannel(myToken); // 向facelog服务申请命令响应通道
 *    long cmdSn = iFaceLogClient.applyCmdSn(myToken); // 向facelog服务申请命令序列号
 *  	targetBuilder()
 *  		.setCmdSn(cmdSn) /
 *  		.setDeviceTarget(deviceId) // 指定目标设备ID
 *  		.setAckChannel(ackChannel) 
 *  		.build()
 *  		.reset(); // 执行reset命令
 * </pre>
 * @author guyadong
 *
 */
public class CmdManager {    
    private final Channel<DeviceInstruction> cmdChannel;
    private final RedisPublisher redisPublisher ;
    private final Map<RedisParam, String> redisParameters;
    private final RedisSubscriber subscriber;
    /**
     * 构造方法
     * @param poolLazy 
     * @param cmdChannelAdapter 
     * @param redisParameters redis 服务器参数,参见 {@link IFaceLogClient${esc.hash}getRedisParameters(Token)}
     */
    protected CmdManager(JedisPoolLazy poolLazy,
            CmdChannelAdapter cmdChannelAdapter,
            Map<RedisParam, String> redisParameters) {
        this.redisPublisher = RedisFactory.getPublisher(checkNotNull(poolLazy));
        this.subscriber = RedisFactory.getSubscriber(checkNotNull(poolLazy));
        this.redisParameters = checkNotNull(redisParameters);
        this.cmdChannel = new Channel<DeviceInstruction>(
                this.redisParameters.get(RedisParam.CMD_CHANNEL),
                cmdChannelAdapter){};
        this.subscriber.register(cmdChannel);
    }
    /**
     * 构造方法
     * @param poolLazy
     * @param cmdChannelAdapter 应用程序执行设备命令的对象
     * @param redisParameters redis 服务器参数,参见 {@link IFaceLogClient#getRedisParameters(Token)}
     * @param deviceId 当前设备ID
     * @param groupIdList 当前设备ID所属的所有设备组ID, 参见 {@link IFaceLogClient#listOfParentForDeviceGroup(int)}
     */
    public CmdManager(JedisPoolLazy poolLazy,
    		CommandAdapter cmdChannelAdapter,
            Map<RedisParam, String> redisParameters,
            int deviceId,
            List<Integer> groupIdList) {
    	this(poolLazy,
    			new CmdChannelAdapter(cmdChannelAdapter,deviceId,groupIdList),
    			redisParameters);
    }
    /**
     * 发送设备命令
     * @param cmd
     */
    private void sendCmd(DeviceInstruction cmd){
        checkArgument(null != cmd,"cmd is null");
        checkArgument(null != cmd.getCmd(),"DeviceInstruction.cmd field must not be null");
        checkArgument(null != cmd.getTarget() && !cmd.getTarget().isEmpty(),"DeviceInstruction.target field must not be null");
        checkArgument(null != cmd.getCmdSn(),"DeviceInstruction.cmdSn field must not be null");
        if(null == cmd.getParameters()){
            cmd.setParameters(ImmutableMap.<String,Object>of());
        }
        redisPublisher.publish(this.cmdChannel, cmd);
    }
    /** 
     * 设备命令构建类,用于设置除{@link DeviceInstruction#parameters}字段之的其他字段
     */
    public class CmdBuilder{   	
        private List<Integer> target;
        private boolean group;
        private Long cmdSn;
        private String ackChannel;
        private final CmdManager parent;
        private boolean autoRemove = true;
        private CmdBuilder(CmdManager parent){
            this.parent = parent;
        }
        /** 参见 {@link DeviceInstruction#setTarget(List, boolean)} */
        public CmdBuilder setTarget(List<Integer> target,boolean group){
            this.target = target;
            this.group = group;
            return this;
        }
        /** 指定设备目标为设备ID列表,参见 {@link DeviceInstruction#setTarget(List, boolean)} */
        public CmdBuilder setDeviceTarget(List<Integer> target){
            this.target = target;
            this.group = false;
            return this;
        }
        /** 指定设备目标为设备ID列表,参见 {@link DeviceInstruction#setTarget(List, boolean)} */
        public CmdBuilder setDeviceTarget(int... target){
            return setDeviceTarget(Ints.asList(target));
        }
        /** 指定设备目标为设备组ID列表,参见 {@link DeviceInstruction#setTarget(List, boolean)} */
        public CmdBuilder setDeviceGroupTarget(List<Integer> target){
            this.target = target;
            this.group = true;
            return this;
        }
        /** 指定设备目标为设备组ID列表,参见 {@link DeviceInstruction#setTarget(List, boolean)} */
        public CmdBuilder setDeviceGroupTarget(int... target){
            return setDeviceGroupTarget(Ints.asList(target));
        }
        /** 参见 {@link DeviceInstruction#setCmdSn(long)} */
        public CmdBuilder setCmdSn(long cmdSn) {
            this.cmdSn = cmdSn;
            return this;
        }
        /** 参见 {@link DeviceInstruction#setAckChannel(String)} */
        public CmdBuilder setAckChannel(String ackChannel){
            this.ackChannel = ackChannel;
            return this;
        }
        /**
         * 完成build,返回 {@link CmdManager}对象<br> 
         * @param autoRemove 为{@code true}时,完成设备命令发送后自动清除Thread Local Storage变量{@link CmdManager#tlsTarget},
         *                                    默认值为{@code true}
         * @return
         */
        public CmdManager build(boolean autoRemove){
            this.autoRemove = autoRemove;
            return this.parent;
        }
        /** 完成build,返回 {@link CmdManager}对象 */
        public CmdManager build(){
            return this.parent;
        }
    } 
    /** 
     * 用于保存当前线程使用的 {@link CmdBuilder}对象<br>,
     * TLS变量,在多线程高并发环境如果不显式执行{@link ThreadLocal#remove()}有资源泄漏风险,
     * 如果{@link CmdBuilder#autoRemove}为{@code true},则调用设备命令方法发送完命令后会自动清除TLS变量,
     * 否则需要调用 {@link CmdManager#removeTlsTarget()}方法手动清除。
      */
    private static ThreadLocal<CmdBuilder> tlsTarget= new ThreadLocal<CmdBuilder>();
    public CmdBuilder targetBuilder(){
        if(null == tlsTarget.get()){
            tlsTarget.set(new CmdBuilder(this));
        }
        return tlsTarget.get();
    }
    /** 
     * 清除TLS变量 {@link #tlsTarget}
     * @see {@link ThreadLocal#remove()}
     */
    public CmdManager removeTlsTarget(){
        tlsTarget.remove();
        return this;
    }
#foreach($entry in $commands.entrySet())
#set($key = $entry.key)
#set($value = $entry.value)
#set($params = $value['params'].entrySet())
    /**
     * 设备命令 <br>
     * $value['desc']<br>#join($params '
     * @param $e.key $!{e.value[1]}' '')

#if($value['return']!='void')
     * @return $!{value['returnDesc']}
#end
     *
     */
    public void ${key}(#join($params '$e.value[0] $e.key' ',')){
        checkArgument(null !=tlsTarget.get(),
            "not defined target,please call method targetBuilder(),and set target info");
        CmdBuilder builder = tlsTarget.get();
        // 所有的命令参数封装到 Map
        ImmutableMap<String, Object> params = ImmutableMap.<String,Object>builder()
                #join($params '.put("$e.key", $e.key)' '
                ')

                .build();
        DeviceInstruction deviceInstruction = new DeviceInstruction()
                .setCmd(Cmd.${key})
                .setCmdSn(builder.cmdSn)
                .setTarget(builder.target, builder.group)
                .setAckChannel(builder.ackChannel)
                .setParameters(params);
        sendCmd(deviceInstruction);
        if(builder.autoRemove){
            removeTlsTarget(); 
        }
    }
#end
}
