#parse( "header.include.vm" )
#parse( "schema.include.vm" )
#set ( $javaClassName = 'CommonConstant' )
$codewriter.setCurrentJavaFilename($extensionPkg, "${javaClassName}.java")
package $extensionPkg;

import org.slf4j.Logger;
import org.slf4j.LoggerFactory;

import gu.simplemq.Channel;
#foreach($tableName in ['fl_permit','fl_log'])
#set ($table = $db.getTable($tableName))
#if($table.getPackage(true) != $extensionPkg)
import ${table.getPackage(true)}.$table.asBeanClassNSP();
#end
#end
/**
 * client端和服务端共用的变量定义
 * @author guyadong
 *
 */
public interface CommonConstant {
    public static final Logger logger = LoggerFactory.getLogger(CommonConstant.class);
    /** 整数型主键的{@code null} 替代值 */
    public static final int NULL_ID_INTEGER = -1;
    /** 字符串型主键的{@code null} 替代值 */
    public static final String NULL_ID_STRING = "";
    /** 默认服务端口号 */
    public static final int DEFAULT_PORT = 26411;
    /** 设备心跳包表 {@code 设备MAC地址 -> 设备ID} */
    public static final Channel<Integer> TABLE_HEARTBEAT = new Channel<Integer>("DeviceHeartbeat"){} ;
    /** 心跳包间隔(秒) */
    public static final int DEFAULT_HEARTBEAT_INTERVAL = 8;
    /** 心跳包失效时间(秒) */
    public static final int DEFAULT_HEARTBEAT_EXPIRE = 60;
    /** 默认(设备/人员)组id */
    public static final int DEFAULT_GROUP_ID = 1;
    /** 默认(设备/人员)组名 */
    public static final String DEFAULT_GROUP_NAME = "DEFAULT_GROUP";
########定义数据库对象频道
#macro(channelDef $tableNames $useBeanType $prefix $suffixList)    
#foreach($tableName in $tableNames)
#set ($table = $db.getTable($tableName))
#if($useBeanType)
#set ($channelType = $table.asBeanClassNSP())
#else
#set ($channelType = $table.primaryKey.javaType)
#end
#set ($coreClass = $table.asCoreClassNSP())
#set ($constPrefix = "${prefix}_${coreClass}")
#if($suffixList)
#foreach($suffix in $suffixList)
    public static final Channel<$channelType> ${constPrefix.toUpperCase()}_${suffix.toUpperCase()} = new Channel<$channelType>("${coreClass}${suffix}"){};
#end
#else
    public static final Channel<$channelType> ${constPrefix.toUpperCase()} = new Channel<$channelType>("$prefix.toLowerCase()${coreClass}"){};
#end

#end
#end###foreach($tableName in $tableNames)

#channelDef(['fl_person','fl_feature'] false 'Pubsub' ['Insert','Update','Delete'])
#channelDef(['fl_permit'] true 'Pubsub' ['Insert','Update','Delete'] )
#channelDef(['fl_log'] true 'Queue' $null )
    
    /** 用于SQL语句的时间戳格式转换格式 */
    public static final String TIMESTAMP_FORMATTER_STR = "yyyy-MM-dd HH:mm:ss";
        
    /**
     * 服务异常类型定义
     */
    public static enum ExceptionType{
        /** 其他未分类异常 */
        UNCLASSIFIED,
        /** 数据库访问异常 */
        DAO,
        /** redis 服务器异常 */
        REDIS_ERROR,
        /** RuntimeException */
        RUNTIME,
        /** 图像数据异常 */
        IMAGE_ERROR
    }
}
